# Virtual Environment
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Model weights and large files
*.pt
*.pth
*.bin
*.model

# Logs
logs/
*.log

# Local configuration
.env
.env.local 

#dataset
dataset/
